
/* CSS Document */

#banner{ background:url(../img/banner2.jpg) no-repeat center top; width:100%;height:499px;}

/*分页效果*/
#fenye{display: block;overflow: hidden;padding: 0px 5px 5px 0px;margin: 40px auto 40px;width: 300px;}
#fenye ul li{ float:left;}
#fenye ul li a{display:block;color: #666;font-size: 14px;line-height: 24px;font-weight: normal;text-align: center;border: 1px solid #BBB;min-width: 14px;padding: 0px 7px;margin: 0px 5px 0px 0px;border-radius: 3px;box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);}
#fenye ul li a:hover{background: none repeat scroll 0% 0% #FF5557;color: #FFF;}

#fenye ul li a.prev,#fenye ul li a.dangqian{display:block;color: #FFF;font-size: 14px;background: none repeat scroll 0% 0% #FF5557;line-height: 24px;font-weight: normal;text-align: center;border: 1px solid #BBB;min-width: 14px;padding: 0px 7px;margin: 0px 5px 0px 0px;border-radius: 3px;box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);}


/*关于我们、新闻动态列表*/
#zj{ width:100%; height:48px; background:#ffffff; border-bottom:1px solid #E1DDDB;}
#zj .zj_list{ width:720px; margin:0px auto; padding-left:280px;} 
#zj .zj_list a{ display:inline-block; width:70px; font-size:16px; color:#745d4e; margin:0px 18px; height:46px; line-height:46px; text-align:center;}
#zj .zj_list a.dangqian{  border-bottom:3px solid #745D4E;}
#zj .zj_list a:hover{ border-bottom:3px solid #745D4E;}

/*--------关于我们-------------*/
#aboutus{ width:1000px;margin:0px auto; margin-bottom:115px;}
#aboutus p.biaoti{ font-size:14px; color:#745d4e; padding-top:16px; padding-bottom:16px;} 
#aboutus .aboutus_js{ width:979px; height:445px; background:#FFFFFF; padding-top:55px; padding-left:21px;} 
#aboutus .aboutus_js .aboutus_js_img{ float:left; width:493px; border-top:1px solid #755A47; padding-top:25px;} 
#aboutus .aboutus_js .aboutus_js_nr{ float:left; width:420px; margin-left:20px;} 
#aboutus .aboutus_js .aboutus_js_nr p{ font-size:12px; color:#828282; line-height:22px; text-indent:23px;} 
#aboutus .aboutus_js .aboutus_js_nr p.teshu{ font-size:24px; color:#745d4e; line-height:0px; margin-bottom:25px; margin-top:-5px; text-indent:0px;}

/*--------联系我们-------------*/
.lianxi{ width:902px; height:667px; padding-top:40px; padding-left:98px; background:#FFFFFF;}
.lianxi p.lianxi_map{ margin-bottom:22px; } 
.lianxi p.lianxi_map img{ border:1px solid #B4B4B4;} 
.lianxi .lianxione{ width:325px; font-size:14px; color:#7f7f7f; float:left;}
.lianxi .lianxione p.lianxi_bt{ font-size: 18px; color:#755a47 ; margin-bottom:17px;}
.lianxi .lianxione p.lianxi_jt{ line-height:30px;}
.lianxi .juli{ margin-right:127px;}

/*--------品牌理念------------*/
.linian{ width:970px; margin:0px auto; background:#FFFFFF; height:467px; padding-top:30px; padding-left:30px;}
.linian p.linian_bt{ position:relative; height:60px;}
.linian p.linian_bt span.linian_rn{ font-size:14px; color:#755a47; display:inline-block; width:477px; border-bottom:1px solid #755A47; padding-bottom:10px; position:absolute;left:0px; top:0px; padding-left:10px;} 
.linian p.linian_bt span.linian_pp{ font-size:24px; color:#745d4e; display:inline-block; position:absolute;left:497px; top:10px;} 
.linian .linian_js_img{ float:left; width:493px; margin-left:20px;} 
.linian .linian_js_nr{ float:left; width:420px;} 
.linian .linian_js_nr p{ font-size:12px; color:#828282; line-height:22px; text-indent:23px;} 


/*--------新闻动态-----------*/
.dongtai{ width:930px; margin:0px auto; background:#FFFFFF; padding-top:40px; padding-left:70px;}
.dongtai ul li{ width:862px; border-bottom:1px solid #F2F2F2; padding-bottom:18px; line-height:23px; margin-bottom:20px;}
.dongtai ul li .dt_img{ float:left; width:169px; height:106px; overflow:hidden; margin-right:20px;} 
.dongtai ul li .dt_img img{ max-width:169px; max-height:106px; overflow:hidden;} 
.dongtai ul li .dt_js{  float:left; width:665px;} 
.dongtai ul li .dt_js p.dt_js_bt{  margin:3px 0px;}
.dongtai ul li .dt_js p.dt_js_bt a{  font-size:16px; color:#745d4e;}
.dongtai ul li .dt_js p.dt_js_bt a:hover{ color:#483629; text-decoration:underline;} 
.dongtai ul li .dt_js p.dt_js_date{ font-size:12px; color:#b5b5b5; padding:2px 0px;}
.dongtai ul li .dt_js p.dt_js_date span{ margin-right:20px;}  
.dongtai ul li .dt_js p.dt_js_nr{ font-size:12px; color:#8a8a8a;} 



/*--------新闻动态下级详细页面-----------*/
.dtxiangxi{ width:933px; margin:0px auto; background:#FFFFFF;  text-align:center; padding-left:67px;}
.dtxiangxi p.dtxiangxi_bt{ font-size:18px; color:#745d4e; padding-top:22px; padding-bottom:20px; width:860px;} 
.dtxiangxi p.dtxiangxi_date{ font-size:13px; color:#aeaeae; border-bottom:1px solid #E0E0E0; padding-bottom:23px; width:860px; } 
.dtxiangxi p.dtxiangxi_date span{ margin:0px 10px;}
.dtxiangxi p.dtxiangxi_img{padding-top:24px; padding-bottom:40px;width:860px; overflow:hidden; } 
.dtxiangxi p.dtxiangxi_img img{ margin:0px 15px;}
.dtxiangxi .dtxiangxi_nr{ font-size:13px; color:#939393; width:820px; padding:0px 20px; text-align:left; text-indent:23px; line-height:23px; padding-bottom:100px; padding-top:20px;}


/*--------纹绣培训页面-----------*/
#px{ width:1000px; margin:0px auto;}
#px .px_list{ padding-top:30px; padding-left:358px; margin-bottom:35px;}
#px .px_list ul li{ float:left; width:127px; height:52px; position:relative; margin:0px 8px;} 
#px .px_list ul li a{ display:block; width:127px; height:40px; background:#745D4E; text-align:center; font-size:16px; line-height:40px; color:#FFFFFF; position:absolute; left:0px; top:0px;}
#px .px_list ul li img{ display:none;} 
#px .px_list ul li:hover a{ background:#FF6062; }
#px .px_list ul li:hover img{position:absolute; left:53px; top:40px; display:block;}
#px .px_list ul li.hover3 a{ background:#FF6062; }
#px .px_list ul li.hover3 img{position:absolute; left:53px; top:40px; display:block;}

#px .pxck{ width:1000px; padding-bottom:70px;}
#px .pxck ul li{ width:965px; height:165px; background:#FFFFFF; padding-left:35px; padding-top:25px; margin-bottom:35px; box-shadow:0px 1px 2px #E0E0E0;}
#px .pxck ul li .pxck_img{ float:left; width:232px; height:139px; overflow:hidden;} 
#px .pxck ul li .pxck_km{ width:190px; margin:0px 15px 0px 50px; float:left; font-size:14px; color:#745d4e;}
#px .pxck ul li .pxck_km p.km_bt{ font-size:24px; margin-bottom:3px;} 
#px .pxck ul li .pxck_km p.km_bt a{ font-size:24px;color:#745d4e;}  
#px .pxck ul li .pxck_km p.km_xz{ font-size:14px; color:#707070;}  
#px .pxck ul li .pxck_km p.km_jg{ color:#ba7007; margin-bottom:13px; padding-left:30px;} 
#px .pxck ul li .pxck_km p.km_jg span{ font-size:36px;} 
#px .pxck ul li .pxck_ck{ width:140px; height:165px; float:left; font-size:12px; color:#787878; background:url(../img/line.jpg) no-repeat left -25px, url(../img/line.jpg) no-repeat right -25px; padding:0px 20px;}
#px .pxck ul li .pxck_ck p.ck_bt{ font-size:18px; color:#745d4e; padding:5px 0px;}
#px .pxck ul li .pxck_ck p.ck_nr{ line-height:23px;} 
#px .pxck ul li .pxck_ys{ width:258px; height:165px; float:left; font-size:12px; color:#787878; background:url(../img/ysbg.png) no-repeat right bottom;padding:0px 20px;}
#px .pxck ul li .pxck_ys p.ys_bt{ font-size:18px; color:#745d4e; padding:5px 0px;}
#px .pxck ul li .pxck_ys p.ys_nr{ line-height:23px;} 


#px .pxck ul li:hover{  background:#FF4C4E; }
#px .pxck ul li:hover .pxck_km{ color:#FFC1C2;}
#px .pxck ul li:hover .pxck_km p.km_bt a{ color:#ffffff;}  
#px .pxck ul li:hover .pxck_km p.km_xz{ color:#FFC1C2;}  
#px .pxck ul li:hover .pxck_km p.km_jg{ color:#ffe824; } 
#px .pxck ul li:hover .pxck_ck{color:#FFC1C2; background:url(../img/line2.png) no-repeat left -25px, url(../img/line2.png) no-repeat right -25px; }
#px .pxck ul li:hover .pxck_ck p.ck_bt{  color:#ffffff; }
#px .pxck ul li:hover .pxck_ys{ color:#FFC1C2; background:url(../img/ysbg2.png) no-repeat right bottom;}
#px .pxck ul li:hover .pxck_ys p.ys_bt{ color:#ffffff; }



/*--------纹绣培训下级页面-----------*/
.wxpx_xiaji{ width:880px; background:#FFFFFF; padding:0px 60px; text-align:center; padding-bottom:45px; margin-bottom:50px;}
.wxpx_xiaji p.wxpx_xiaji_bt{ font-size:24px; color:#745d4e; border-bottom:1px solid #E0E0E0; padding-bottom:38px; padding-top:30px; margin-bottom:25px;}
.wxpx_xiaji p.wxpx_xiaji_img{ overflow:hidden;}
.wxpx_xiaji p.wxpx_xiaji_img img{ max-width:855px; overflow:hidden;}   
.wxpx_xiaji .wxpx_xiaji_js { margin-top:33px;}
.wxpx_xiaji .wxpx_xiaji_js ul li{ font-size:18px; float:left; width:82px; border-right: 1px solid #BFB5AE; height:76px; color:#745d4e; text-align:left; padding:0px 50px;}
.wxpx_xiaji .wxpx_xiaji_js ul li p.style9{ color:#ea7326; font-size:24px; margin-top:15px;} 

.wxpx_xiaji .wxpx_xiaji_kc{ width:100%; text-align:left; padding-top:45px; color:#656565; line-height:25px; padding-left:10px;}  

.wxpx_xiaji .wxpx_xiaji_kc p.bt{ width:100%; border-bottom: 1px solid #E3DFDC; font-size:18px; color:#745d4e; padding-bottom:5px; padding-left:10px; margin-bottom:7px;} 



/*--------纹绣培训项目-----------*/
.pxxiaji{ width:998px; background:#FFFFFF; padding-top:15px; padding-left:2px; padding-bottom:20px;} 

ul.peixun_xj li{width:219px; height:399px; margin:0px 10px; color:#FFFFFF;float:left;display:inline; background:#ffffff; position:relative; padding:5px; margin-bottom:20px;}
ul.peixun_xj li.hover{ background:#ff4c4e;}
a.img_wrap22{font-size:12px; color:#FFFFFF;}
.cplist22{ width:229px; height:409px; }
.cplist22 .cplist_img22{ width:219px; height:367px; overflow:hidden; position:absolute;left:5px; top:5px; z-index:1;} 
.cplist22 .cplist_js22{ width:219px; height:40px;position:absolute; left:5px; bottom:5px; z-index:22; background:#ff4c4e;}
.cplist22 .cplist_js22 p.hh22{ background:#FFFFFF;height:40px;} 
.cplist22 .cplist_js22 p.hh22 span.xbt22{ width:180px; height:40px; line-height:40px; font-size:16px; text-align:center; display:inline-block; background:#FF4C4E; float:left}
.cplist22 .cplist_js22 p.hh22 span.jt22{ width:37px; height:26px; display:inline-block; text-align:center; padding-top:14px; float:right; background: url(../img/shang.png) no-repeat center center #FF4C4E;}
.cplist22 .cplist_js22 p.hh22 span.jt22 img{ display:none;} 

.cplist22 .cplist_js22 p.hh22 span.jt44{ width:37px; height:26px; display:inline-block; text-align:center; padding-top:14px; float:right; background: url(../img/shang2.png) no-repeat center center #FF4C4E;}
.cplist22 .cplist_js22 p.hh22 span.jt44 img{ display:none;} 
.cplist22 .cplist_js22 p.xx22{ padding:10px; line-height:25px; display:none;}




/*--------纹绣项目 下级页面-----------*/
.wxpx_xiaji .wxpx_xiaji_kc22{width:799px; text-align:left;font-size:13px; color:#707070; line-height:25px; padding-left:10px;margin-left:30px; text-indent:23px; }  
.wxpx_xiaji .wxpx_xiaji_kc22 p{  }



/*--------作品展示下级页面-----------*/
.db{ padding-left:20px; padding-bottom:30px;}
.zuoqian{ width:400px; float:left; text-align:center; color:#745d4e; font-size:18px; margin:0px 10px;}
.zuoqian img{ max-width:400px; max-height:470px; overflow:hidden;} 
.zuoqian p{ margin-top:20px;}

/*--------常见问题页面-----------*/
.cjwt{ width:1000px;}
.cjwt ul li{ width:486px; height:130px; box-shadow:1px 1px 2px #cccccc; background:#FFFFFF; float:left; margin-right:24px; margin-bottom:25px;}
.cjwt ul li a .cjwt_list{ width:476px; height:123px; background:url(../img/ysbg.png) no-repeat right bottom; padding-left:10px; padding-top:7px;} 
.cjwt ul li a .cjwt_list p.cjwt_list_bt{ font-size:18px; color:#745d4e; margin-bottom:0px; background:url(../img/jia.jpg) no-repeat left top; padding-left:33px; line-height:38px;} 
.cjwt ul li a .cjwt_list p.cjwt_list_js{ font-size:12px; color:#a7a7a7; line-height:23px; width:385px; margin-left:33px;} 

.cjwt ul li:hover{  background:#FF5557;}
.cjwt ul li:hover a .cjwt_list{ background:url(../img/ysbg2.png) no-repeat right bottom;} 
.cjwt ul li:hover a .cjwt_list p.cjwt_list_bt{ color:#ffffff; background:url(../img/jia2.jpg) no-repeat left top;} 
.cjwt ul li:hover a .cjwt_list p.cjwt_list_js{ color:#FFAFB0; } 


/*--------名师名店页面-----------*/
#ms{ width:100%; height:119px; background:url(../img/lanbg.jpg) repeat-x center 118px;}
#ms .px_list{ padding-top:30px; padding-left:358px; margin-bottom:35px; width:642px; margin:0px auto;}
#ms .px_list ul li{ float:left; width:127px; height:52px; position:relative; margin:0px 8px;} 
#ms .px_list ul li a{ display:block; width:127px; height:40px; background:#745D4E; text-align:center; font-size:16px; line-height:40px; color:#FFFFFF; position:absolute; left:0px; top:0px;}
#ms .px_list ul li img{ display:none;} 
#ms .px_list ul li:hover a{ background:#FF6062; }
#ms .px_list ul li:hover img{position:absolute; left:53px; top:40px; display:block;}
#ms .px_list ul li.hover3 a{ background:#FF6062; }
#ms .px_list ul li.hover3 img{position:absolute; left:53px; top:40px; display:block;}

#ms_list{ width:100%; background:#FFFFFF; height:auto; padding-bottom:100px;}
#ms_list .ms_list{ width:1000px; margin:0px auto; position:relative;} 

#ms_list .ms_list .cont li{ height:auto;}
#ms_list .ms_list ul li{ width:210px; float:left; margin:0px 20px;}
#ms_list .ms_list ul li .jy_js{ width:183px; background:#FF4C4E; padding-top:5px; padding-left:13px; padding-right:13px; line-height:25px; font-size:14px; padding-bottom:8px;}
#ms_list .ms_list ul li .jy_js p{ color:#fff}
#ms_list .ms_list ul li .jy_js p.styleone{ width:125px; height:30px; line-height:30px; font-size:18px; line-height:30px; border-radius:15px; -moz-border-radius:15px;-webkit-border-radius:15px; background:#EEEEEE; color:#232442; text-align:center; margin-left:30px;margin-bottom:5px; } 
#ms_list .ms_list ul li .zx{ width:209px; height:38px; line-height:38px; background:#F0D1BC; font-size:18px;  text-align:center;}
#ms_list .ms_list ul li .zx a{ color:#6a4a36; display:block;width:209px;}
#ms_list .ms_list ul li .zx a:hover{ background:#EDB995;}


/*--------纹绣名店页面-----------*/
ul li.yy{ margin:0; }
ul li.yy .yy_img{ width:270px; float:left; margin-right:20px;} 
ul li.yy .yy_js{  width:586px;float:left;}

ul li.yy .cjwt_list{ width:567px; height:144px; background:url(../img/ysbg2.png) no-repeat right bottom #FF4C4E; padding-left:10px; padding-top:7px; margin-top:10px;} 
ul li.yy .cjwt_list p.cjwt_list_bt{ font-size:18px; color:#ffffff; margin-bottom:0px; background:url(../img/jia2.jpg) no-repeat left top; padding-left:33px; line-height:38px;} 
ul li.yy .cjwt_list p.cjwt_list_js{ font-size:12px; color:#FFA9AA; line-height:23px; width:385px; margin-left:33px;} 

/*--------纹绣产皮页面-----------*/
.product{ width:1000px;}
.product ul li{ width:230px; float:left; margin:0px 4px; margin-bottom:40px; border:5px solid #F7F7F7;}
.product ul li a p.pro_js{ width:231px; height:46px; line-height:46px; background:#745D4E; text-align:center; font-size:15px; color:#FFFFFF;}
.product ul li:hover{  border:5px solid #FF5557;}
.product ul li:hover a p.pro_js{ background:#FF5557;}
