<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>上海雕之艺纹绣-走进雕之艺-{if $type==1}关于我们{else if $type==2}品牌理念{else if $type==3}联系我们{/if}</title>
<meta name="keywords" content="雕之艺纹绣,雕之艺纹绣简介,雕之艺简介,绣眉,漂唇" />
<meta name="description" content="上海雕之艺纹绣是上海纹绣第一品牌，也是全国最早的纹绣机构之一，拥有国际顶级的纹绣专家，过硬的技术，实惠的价格得到上海纹绣爱好者的一致好评。服务项目有：纹眉、绣眉、漂唇、纹绣培训、纹身等" />
<link type="text/css" rel="stylesheet" href="../css/style.css" />
<link type="text/css" rel="stylesheet" href="../css/pages.css" />
<script type="text/javascript" src="../js/jquery.js"></script>
</head>

<body>
<!--最顶端logo-->
{include file='header.html'}
<!--banner-->
<div id="banner"></div>

<!--关于我们、新闻动态列表-->
<div id="zj">
	<div class="zj_list">
		<a href="?type=1"{if $type==1} class="dangqian"{/if}>关于我们</a><a href="news.php">新闻动态</a><a href="?type=2"{if $type==2} class="dangqian"{/if}>品牌理念</a><a href="?type=3"{if $type==3} class="dangqian"{/if}>联系我们</a>
	</div>
</div>

{if $type==1}
<!--关于我们-->
<div id="aboutus">
	<p class="biaoti">首页&nbsp;&nbsp;/&nbsp;&nbsp;走进雕之艺/&nbsp;&nbsp;关于我们</p>
	<div class="aboutus_js">
		<div class="aboutus_js_img"><img src="uploads/{$customer.pic}" /></div>
		<div class="aboutus_js_nr">
			<p class="teshu">雕之艺简介</p>
			<p>{$customer.infor}</p>
		</div>
		<div class="clear"></div>
	</div>
</div>
{else if $type==2}
<div id="aboutus">
	<p class="biaoti">首页&nbsp;&nbsp;/&nbsp;&nbsp;走进雕之艺&nbsp;&nbsp;/&nbsp;&nbsp;品牌理念</p>
	<div class="linian">
		<p class="linian_bt"><span class="linian_rn">让你变得更美</span><span class="linian_pp">品牌理念</span></p>
		
		<div class="linian_js_nr">
			<p>{$customer.infor}</p>
		</div>
		
		<div class="linian_js_img"><img src="uploads/{$customer.pic}" /></div>
		
		<div class="clear"></div>
	</div>
</div>
{else if $type==3}
<div id="aboutus">
	<p class="biaoti">首页&nbsp;&nbsp;/&nbsp;&nbsp;走进雕之艺&nbsp;&nbsp;/&nbsp;&nbsp;联系我们</p>
	<div class="lianxi">
		{$customer.infor}
</div>
{/if}
<!--最顶部--->
{include file='footer.html'}
</body>
</html>
