<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{$ninfor.title}-上海雕之艺纹绣-纹绣常见问题</title>
<meta name="keywords" content="雕之艺纹绣,纹绣问题,纹绣常见问题,绣眉,漂唇" />
<meta name="description" content="上海雕之艺纹绣是上海纹绣第一品牌，也是全国最早的纹绣机构之一，拥有国际顶级的纹绣专家，过硬的技术，实惠的价格得到上海纹绣爱好者的一致好评。服务项目有：纹眉、绣眉、漂唇、纹绣培训、纹身等" />
<link type="text/css" rel="stylesheet" href="../css/style.css" />
<link type="text/css" rel="stylesheet" href="../css/pages.css" />
<script type="text/javascript" src="../js/jquery.js"></script>
</head>

<body>
<!--最顶端logo-->
{include file='header.html'}
<!--banner-->
<div id="banner"></div>


<!--新闻动态-->
<div id="aboutus">
	<p class="biaoti">首页&nbsp;&nbsp;/&nbsp;&nbsp;常见问题</p>
	<div class="dtxiangxi">
		<p class="dtxiangxi_bt">{$ninfor.title}</p>
		<p class="dtxiangxi_date"><span>作者：{if $ninfor.author}{$ninfor.author}{else}雕之艺{/if}</span><span>日期  ：{$ninfor.addtime}</span></p>
		
		<div class="dtxiangxi_nr">
			<p>{$ninfor.content}</p>
			
		</div>
	</div>
	
</div>

<!--最顶部--->
{include file='footer.html'}
</body>
</html>
