<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>上海雕之艺纹绣-纹绣产品-{$pinfor.title}</title>
<link type="text/css" rel="stylesheet" href="../css/style.css" />
<link type="text/css" rel="stylesheet" href="../css/pages.css" />
<script type="text/javascript" src="../js/jquery.js"></script>
</head>

<body>
<!--最顶端logo-->
{include file='header.html'}
<!--banner-->
<div id="banner"></div>



<!--纹绣培训下级-->
<div id="aboutus">
	<p class="biaoti">首页&nbsp;&nbsp;/&nbsp;&nbsp;纹绣产品&nbsp;&nbsp;/&nbsp;&nbsp;{$pinfor.title}</p>
	<div class="wxpx_xiaji">
		<p class="wxpx_xiaji_bt">{$pinfor.title}</p>
		<div class="wxpx_xiaji_kc22">
			<p>{$pinfor.content}</p>
		</div>
	</div>
					

</div>

<!--最顶部--->
{include file='footer.html'}
</body>
</html>
